body {
    background-image: url(img/shooting-star-2024127.svg);
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 99%;
}

nav {
    position: fixed;
    width: 100%;
    background: linear-gradient(45deg, #093857, rgb(48, 1, 110));
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: -8px;
    padding-left: 20px;
    border-bottom: solid 10px rgb(17, 1, 37);
}

nav > h1 > a {
    color: white;
}


nav > ul {
    display: flex;
    margin-right: 20px;
    width: 500px;
    flex-direction: row-reverse;
}

nav > ul > li {
    flex-grow: 0;
    height: 70px;
    display: flex;
    align-items: center;
    width: 50%;
}



nav > ul > li > p {
    margin-left: auto;
    margin-right: auto;
}

nav > ul > li > p > a {
    color: white;
    text-decoration:none;
}

nav > ul > li > a:visited {
    color: white;
}

nav > ul > li:hover {
    background-color: #d5e7f7;
}
nav > ul > li> a:active  {
    color: #0070ad;
}

nav > ul > li .sous {
    display: none;
    position: absolute;
    justify-content: space-between;
    padding-left: 0px;
    border-top: solid 2px #280D69;
    top: 70px;
    background-color: #280D69;
}

nav > ul > li:hover .sous {
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
}

.sous li {
    display: flex;
    list-style-type: none;
    text-align: center;
    width: 80%;
    height: 60px;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.sous > li > a {
    color: white;
    text-decoration:none;
    width: 100%;
    
}

.sous > li > a:visited {
    color: white;
}

.sous > li:hover {
    background-color: #36128a;
    
}
.sous > li> a:active  {
    color: #0070ad;
}

nav #sec {
    color: white;
    background-color: #36128a;
}

/*-----------------Main-----------------*/



main {
    min-height: 100vh;
    flex: 1;
    margin-top: 8px;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -1%;
    flex-wrap: wrap;
    justify-self: center;
    display: flex;
    width: 101%;
    justify-content: space-evenly;
}

main > div {
    color: rgb(238, 238, 238);
    margin-bottom: 60px;
    background-color: #1d0a49;
    border:  #36128a solid 5px;
    border-radius: 12px;
    width: 600px;
    height: 500px;
}

a {
    text-decoration: none;
    color:#5b14ff;
}

main > div > h2 {
    font-size: 20px;
    margin-left: 20px;
}

main > div > section {
    display: flex;
    justify-content: space-between;
    height: 80%;
}

main > div > section > article > ul{
    list-style: none;
}

main > div > section > article >p {
    margin-left: 50px;
    text-align: justify;
    width: 300px;
    font-size: 14px;
}

main > div > section > article > ul > li >p {
    margin-left: 20px;
    text-align: justify;
    width: 320px;
    font-size: 14px;
}

main > div > section > img {
    margin-right: 20px;
    width: 180px;
}

main > div > section > article > li > ul > h3 {
    margin-left: 0px;
}

h1 > a {
    text-decoration: none;
    color: #15001b;
}

/*-----------------footer-----------------*/

footer{
    background-color: rgb(34, 34, 34);
    height: 100px;
    margin: -8px;
    color: #b8b8b8;    
    padding-top: 25px;
}
footer>a>img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 80px;
}