html {
    background: #00072b;
    background: linear-gradient(43deg, rgba(0, 7, 43, 1) 0%, rgba(54, 0, 74, 1) 100%);
    min-height: 100vh;
}
body {
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 99%;
}

nav {
    z-index: 100;
    position: fixed;
    width: 100%;
    background: linear-gradient(45deg, #093857, rgb(48, 1, 110));
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: -8px;
    padding-left: 20px;
    border-bottom: solid 10px rgb(17, 1, 37);
}

nav > h1 > a {
    color: white;
}


nav > ul {
    display: flex;
    margin-right: 20px;
    width: 500px;
    flex-direction: row-reverse;
}

nav > ul > li {
    flex-grow: 0;
    height: 70px;
    display: flex;
    align-items: center;
    width: 50%;
}



nav > ul > li > p {
    margin-left: auto;
    margin-right: auto;
}

nav > ul > li > p > a {
    color: white;
    text-decoration:none;
}

nav > ul > li > a:visited {
    color: white;
}

nav > ul > li:hover {
    background-color: #d5e7f7;
}
nav > ul > li> a:active  {
    color: #0070ad;
}

nav > ul > li .sous {
    display: none;
    position: absolute;
    justify-content: space-between;
    padding-left: 0px;
    border-top: solid 2px #280D69;
    top: 70px;
    background-color: #280D69;
}

nav > ul > li:hover .sous {
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
}

.sous li {
    display: flex;
    list-style-type: none;
    text-align: center;
    width: 80%;
    height: 60px;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.sous > li > a {
    color: white;
    text-decoration:none;
    width: 100%;
    
}

.sous > li > a:visited {
    color: white;
}

.sous > li:hover {
    background-color: #36128a;
    
}
.sous > li> a:active  {
    color: #0070ad;
}

nav #sec {
    color: white;
    background-color: #36128a;
}

/*-----------------Main-----------------*/



main {
    min-height: 70vh;
    flex: 1;
    margin-top: 8px;
    padding-top: 150px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -1%;
}

.banner {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  padding-top: 25vh;
  padding-left: 75px;
  width: 100%;
  object-fit: contain;
  background-image: url("img/IndBanner.jpg");
  height: 70vh;
  margin-top: -80px;
  position: relative;
  margin-left: -20px;
  margin-bottom: 75px;
}

article {
    background: #00072b;
    background: linear-gradient(43deg, rgba(0, 7, 43, 1) 0%, rgba(54, 0, 74, 1) 100%);
    display: flex;
    flex-direction: column;
    width: 300px;
    position: absolute;
    left: 0px;
    padding-left: 50px;
    padding:30px 10px 20px 50px ;
}

article > h1, article > h2 {
    display: inline-block;
    margin-top: 0px;
}

.desc {
  margin-bottom: 100px;
  gap: 100px;
  height: 350px;
  display: flex;
  flex-direction: row;
  margin-left: 12%;
  margin-right: 12%;
  width: 76%;
}

a {
    text-decoration: none;
    color:#5b14ff;
}

p, h1, h2, li {
    color: white;
}

p {
    font-size: 1.20em;
}

.desc-img {
  object-fit: cover;
  width: 48%;
  border-radius: 250px;
}

section {
  padding-top: 20px;
  width: 55%;
}

/*-----------------footer-----------------*/

footer{
    position: relative;
    bottom: 0px;
    background-color: rgb(34, 34, 34);
    height: 100px;
    margin-left: -8px;
    margin-bottom: -8px;
    color: #b8b8b8;    
    padding-top: 25px;
    width: 100vw;
}
footer>a>img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 80px;
}