body {
    background-image: url(img/shooting-star-2024127.svg);
    background-size: cover;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav {
    position: fixed;
    width: 100%;
    background: linear-gradient(45deg, #093857, rgb(48, 1, 110));
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: -8px;
    padding-left: 20px;
    border-bottom: solid 10px rgb(17, 1, 37);
}

nav > h1 > a {
    color: white;
}


nav > ul {
    display: flex;
    margin-right: 20px;
    width: 500px;
    flex-direction: row-reverse;
}

nav > ul > li {
    flex-grow: 0;
    height: 70px;
    display: flex;
    align-items: center;
    width: 50%;
}



nav > ul > li > p {
    margin-left: auto;
    margin-right: auto;
}

nav > ul > li > p > a {
    color: white;
    text-decoration:none;
}

nav > ul > li > a:visited {
    color: white;
}

nav > ul > li:hover {
    background-color: #d5e7f7;
}
nav > ul > li> a:active  {
    color: #0070ad;
}

nav > ul > li .sous {
    display: none;
    position: absolute;
    justify-content: space-between;
    padding-left: 0px;
    border-top: solid 2px #280D69;
    top: 70px;
    background-color: #280D69;
}

nav > ul > li:hover .sous {
    display: flex;
    width: 250px;
    flex-direction: column;
    align-items: center;
}

.sous li {
    display: flex;
    list-style-type: none;
    text-align: center;
    width: 80%;
    height: 60px;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.sous > li > a {
    color: white;
    text-decoration:none;
    width: 100%;
    
}

.sous > li > a:visited {
    color: white;
}

.sous > li:hover {
    background-color: #36128a;
    
}
.sous > li> a:active  {
    color: #0070ad;
}

nav #sec {
    color: white;
    background-color: #36128a;
}

/*-----------------Main-----------------*/

main {
    margin-left: 5%;
    margin-right: 5%;
    flex-wrap: wrap;
    justify-self: center;
    display: flex;
    width: 90%;
    padding-top: 100px;
    justify-content: space-evenly;
}

main > div {
    color: white;
    background-color: #1d0a49;
    margin-bottom: 60px;
    border:  #36128a solid 5px;
    border-radius: 12px;
    width: 600px;
    height: 580px;
}

main > div > h2 {
    margin-left: 10px;
}

main > div > #desc {
    text-align: justify;
    margin-left: 40px;
    margin-right: 40px;
    height: 80px;
}

main > div > ul {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

main>div>section>ul {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    margin-top:30px;
    margin-left: -40px;
    list-style: none;
}

main > div > ul > li {
    margin-top: 10px;
}

main > div > section > ul > li > img{
    width: 35px;
    height: 35px;
    object-fit:contain;
}

main > div > #link {
    text-align: center;
}

main > div > p > a {
    color: white;
    text-decoration: none;
}

main > div > p > a:hover {
    color: #0070ad;
}

main > div > img {
    margin-left: 40px;
    width: 520px;
    height: 250px;
    object-fit: cover;
}

h2 > a {
    padding-left: 10px;
    text-decoration: none;
    color: white;
}

h1 > a {
    text-decoration: none;
    color: white;
}
/*-----------------footer-----------------*/

footer{
    background-color: rgb(34, 34, 34);
    height: 100px;
    margin: -8px;
    color: #b8b8b8;    
    padding-top: 25px;
}
footer>a>img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 80px;
}