body {
    font-family: sans-serif;
}

nav {
    background-color: #e0e0e0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: -8px;
    padding-left: 20px;
}


nav > ul {
    display: flex;
    width: 500px;
    justify-content: space-between;
}

nav > ul > li {
    flex-grow: 0;
    height: 70px;
    display: flex;
    align-items: center;
    
    width: 100%;
}

nav #pageactu {
    background-color: #ececec;
}

nav > ul > li > p {
    margin-left: auto;
    margin-right: auto;
}

nav > ul > li > p > a {
    color: #15001b;
    text-decoration:none;
}

nav > ul > li > a:visited {
    color: #15001b;
}

nav > ul > li:hover {
    background-color: #d5e7f7;
}
nav > ul > li> a:active  {
    color: #0070ad;
}

nav > ul > li .sous {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    justify-content: space-between;
    padding-left: 0px;
    border-top: solid 2px;
    top: 70px;
}

nav > ul > li:hover .sous {
    display: flex;
    width: 208px;
    flex-direction: column;
    align-items: center;
}

.sous li {
    display: flex;
    list-style-type: none;
    text-align: center;
    width: auto;
    height: 45px;
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
}

.sous > li > a {
    color: #15001b;
    text-decoration:none;
    
}

.sous > li > a:visited {
    color: #15001b;
}

.sous > li:hover {
    background-color: #d5e7f7;
}
.sous > li> a:active  {
    color: #0070ad;
}

nav > ul > #langue {
    width: 200px;
}

/*-----------------Main-----------------*/

main {
    margin-top: 60px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
    flex-wrap: wrap;
    justify-self: center;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

main > div {

    margin-bottom: 60px;
    border:  #F5F5F5 solid;
    border-radius: 2px;
    width: 600px;
    height: 500px;
}

a {
    text-decoration: none;
}

main > div > h2 {
    font-size: 20px;
    margin-left: 20px;
}

main > div > section {
    display: flex;
    justify-content: space-between;
    height: 80%;
}

main > div > section > article > ul{
    list-style: none;
}

main > div > section > article >p {
    margin-left: 50px;
    text-align: justify;
    width: 300px;
}

main > div > section > article > ul > li >p {
    margin-left: 20px;
    text-align: justify;
    width: 320px;
}

main > div > section > img {
    margin-right: 20px;
    width: 180px;
}

main > div > section > article > li > ul > h3 {
    margin-left: 0px;
}

h1 > a {
    text-decoration: none;
    color: #15001b;
}

/*-----------------footer-----------------*/

footer{
    background-color: rgb(48, 48, 48);
    height: 270px;
    margin: -8px;
    color: #b8b8b8;    
}
footer>section{
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 80px;
    padding-left: 30px;
}

footer article{
    padding-left: 5%;
    width: 400px;
}
footer>article{
    width: 95%;
    height:50px;
    text-align: end;
}

footer li{
    list-style-type: none;
    padding: 10px;
    padding-left: 20px;
    height: 20px;
}
footer li>a:hover{
    color: rgb(112, 112, 112);
}
footer a{
    text-decoration: none;
    color: #919191;
}

footer > article {
    height: 30px;
}